# Frontend-specific
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/.env.test

# Backend-specific
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/data/
backend/fetch_csv.log


# General ignores
.DS_Store
.vscode/
.idea/
